<div class="header d-flex justify-between">
    <div class="header__left-group flex-row">
        <app-ui-select
            name="meterLabel"
            [label]="meter.label"
            [options]="meter.options"
            [(ngModel)]="meter.value"
            [isMultiple]="meter.multiple"
        ></app-ui-select>
        <app-ui-select
            name="aggregatorLabel"
            class="ml-01"
            [label]="aggregator.label"
            [options]="aggregator.options"
            [(ngModel)]="aggregator.value"
        ></app-ui-select>
        <button mat-raised-button (click)="generateGraphic()">Gerar Gráfico</button>
    </div>
    <div class="header__right-group">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="selectChart(false)">Visualizar Consumo</button>
        <button mat-menu-item (click)="selectChart(true)">Comparar</button>
        </mat-menu>
    </div>
</div>
<highcharts-chart *ngIf="!loading"
    style="width: 100%; height: 400px; display: block;"
   [Highcharts]="highcharts" 
   [options]="chartOptions">
</highcharts-chart>
<div *ngIf="!loading && chartOptions.chart?.type === 'column'" class="value-metrics">
    <p>Total: {{ totalBadge.consumoTotal }}</p>
    <p>Fatura: {{ totalBadge.valorTotal }}</p>
</div>