<div class="header d-flex justify-between">
    <div class="header__left-group flex-row">
        <app-ui-select
            name="meterLabel"
            [label]="meterLabel"
            [options]="meterOptions"
            [(ngModel)]="selectedDevice"
            [isMultiple]="meterMultiple"
        ></app-ui-select>
        <button mat-raised-button (click)="generateGraphic()">Gerar Gráfico</button>
    </div>
    <div class="header__right-group">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="selectChart(false)">Visualizar Consumo</button>
        <button mat-menu-item (click)="selectChart(true)">Comparar</button>
        </mat-menu>
    </div>
</div>
<highcharts-chart
    style="width: 100%; height: 400px; display: block;"
   [Highcharts]="highcharts" 
   [options]="chartOptions">
</highcharts-chart>