.navbar__container {
    top: 0;
    left: 0;
    padding: 10px;
    height: 50px;
    width: 100%;
    background-color: #03a760;
    box-sizing: border-box;
    &-logo{
        height: 100%;
        margin-left: 5px;
        img {
            height: 90%;
            border-radius: 50%;
        }
    }
    &-chart-menu{
        padding: 5px;
        width: 30px;
        height: 30px;
       span {
        display: block;
        margin: 2px 0;
        height: 2px;
        width: 100%;
        border-radius: 2px;
        background: #4a4c4b;
       }
    }
}