.navbar__container {
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #03a760;
    z-index: 999;
    &-logo{
        height: 100%;
        margin-left: 5px;
        img {
            height: 90%;
            border-radius: 50%;
        }
    }
}